<article>
  <h1>Who bought <%= @product.title %></h1>
  <% @product.orders.each do |order| %>
    <h2>Order <%= order.id %></h2>
    <h3><%= @latest_order.try(:updated_at) %></h3>

    <p>Shipped to <%= order.address %></p>
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      <% order.line_items.each do |item| %>
        <tr>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency item.total_price %></td>
        </tr>
      <% end %>

      <tr>
        <th colspan="2">Total</th>
        <th><%= number_to_currency order.line_items.map(&:total_price).sum %></th>
      </tr>

    </table>
    <p>Paid by <%= order.pay_type %></p>
    <p><%= order.name %></p>
    <p><%= order.email %></p>
  <% end %>
</article>